<div class="card" style="background-color: rgba(200,200,200,0.3);">
  <div class="card-category"><%= cocktail.name %></div>
  <div class="card-description">
    <h2>Doses</h2>
    <p>Lista das doses</p>
  </div>
  <img class="card-user avatar" src="logo.png">
  <a class="card-link" href="#" ></a>
</div>
