<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to cocktails_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

    <h3>Mr Cocktail</h3>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <!-- Button (call-to-action) -->
    <%= link_to t(".top_call_to_action", default: "Create Your Dink"), new_cocktail_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
  </div>
</div>
